@model ahmed7716.Models.Car

<h1>Car Details</h1>

<div>
    <h3>@Model.Name</h3>
    <p><strong>Model:</strong> @Model.Model</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Price:</strong> @Model.Year</p>
    <p><strong>Price:</strong> @Model.Color</p>
    <p><strong>Price:</strong> @Model.PlateNumberce</p>
    <p><strong>Price:</strong> @Model.Status</p>

</div>

<div>
    <a href="@Url.Action("Index", "Car")" class="btn btn-secondary">Back to List</a>
</div>