@model List<ahmed7716.Models.Rental>

<h2>Rental List</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add Rental</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>RentalID</th>
            <th>Customer</th>
            <th>Car</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Cost</th>
            <th>Payment Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.RentalID</td>
                <td>@rental.customer.Name</td>
                <td>@rental.car.Model</td>
                <td>@rental.StartDate.ToShortDateString()</td>
                <td>@rental.EndDate.ToShortDateString()</td>
                <td>@rental.TotalCost</td>
                <td>@rental.PaymentStatus</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Details" asp-route-id="@rental.RentalID" class="btn btn-default text-white">Details</a>
                        <a asp-action="Edit" asp-route-id="@rental.RentalID" class="btn btn-default text-white">Edit</a>
                        <a asp-action="Delete" asp-route-id="@rental.RentalID" class="btn btn-default text-white">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
