@model ahmed7716.Models.Customer

<h2>Customer Details</h2>

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Phone:</strong> @Model.Phone</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Address:</strong> @Model.Adrss</p>
    <p><strong>License Number:</strong> @Model.LicenseNumber</p>
</div>

<a asp-action="Index">Back to List</a>